
.header{
	height: $nav-height;
	display:block;
	line-height: $nav-height;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:100;
	background-color: $body-bg;
	letter-spacing: $default-letter-spacing;
	box-shadow:rgba(1,1,1,0.5) 0 0 20px;
}
.header>div{
	height:100%;
	margin: 0 30px;
}

.brand{
	a:link,
	a:visited,
	a:hover,
	a:active{

	}
}
.logo,
.logotype,
.menu,
.nav,
.nav ul{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	background-image: image-url('icons/logo.png');
	width: $logo-width;
	height: $logo-height;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align: middle;
	&.invert{
		background-image: image-url('icons/logo-invert.png');
		margin: 10px auto;
	}
}

html.backgroundsize{
	.logo{
		background-image: image-url('icons/logo@2x.png');
		background-size: cover;
		&.invert{
			background-image: image-url('icons/logo-invert@2x.png');
		}
	}
}
h1.logotype{
	text-transform: uppercase;
	height: $logo-height;
	line-height: $logo-height;
	margin: 0;
	font-weight:bold;
	font-size: rem-calc(20);
	letter-spacing: $default-letter-spacing*2;
}