
$img-hero-top: image-url("big/inventory-magazine-2013-fall-winter-editorial.jpg");


.home-top{
	background-image: $img-hero-top;
}
.home-bottom{
	&>img{
		width:	 100%;
		margin-left: -44%;
		min-width: 180%;
	}
	@media #{$small-only}{
		height: 400px !important;
		min-height: 0 !important;
	}
}


.club-price{
	position:relative;
	span{
		position: absolute;
		left:0;
		right:0;
		top:50%;
		margin-top:  rem-calc(-20);
		text-align:center;
		font-size: rem-calc(40);
		letter-spacing: $default-letter-spacing;
		//text-indent: rem-calc(-20);
		font-weight: bold;
	}
}

.club-what{
	hr,h5{
		display:inline-block;
		font-family: $serif-font;
		font-size: rem-calc(14);
		line-height:  rem-calc(14);
		@media #{$medium-down}{
			font-size: rem-calc(10);
			line-height:  rem-calc(10);
		}
	}
	hr{
		width:20%;
		position: relative;
		top:rem-calc(16);
	}
	h5{
		width:40%;
		margin: 0 10px;
		font-style: italic;
	}
	p{
		padding: 10% 10%;
		color: lighten($body-font-color, 40%);
	}
	@media #{$small-only}{
	}
}

.featured-list{
	text-align:center;
	li{
		margin-left: rem-calc(15);
		margin-right: rem-calc(15);
		display:inline-block;
		list-style: none;
	}
	li:first{
		margin-left:0;
	}
	li:last{
		margin-right:0;
	}
}
.attack-of-the-show{
	@include sprite-attackoftheshow();
}
.g4{
	@include sprite-g4();
}
.los-angeles-times{
	@include sprite-losangelestimes();
}
.mashable{
	@include sprite-mashable();
}
.panodaily{
	@include sprite-panodaily();
}
.techcrunch{
	@include sprite-techcrunch();
}
.thrillist{
	@include sprite-thrillist();
}
.time{
	@include sprite-time();
}



.half{
	position: relative;
	display:block;
	float:left;
	width: 50%;
	height: 400px;
}

@media #{$small-only}{
	.half{
		width: auto;
		height: 300px;
		float:none;
	}
}


.row-collection{
	margin-top: 20px;
	margin-bottom: 20px;
}
#collection{
	//width: 100%;
	position: absolute;
	left:0;
	right:0;
	.slide{
		width: 100%;
	}
	.half{
		height: auto;
	}
}
.full{
	overflow:hidden;
	img{
		max-height:853px;
		max-width: 853px;
		height: 100%;
		width:100%;
	}
}

@media #{$small-only}{
	#collection{
		height: 400px;
	}
}
