.redun{
	@include position(fixed, 0);
}

.logo{
	width: 300px;
	max-width:100%;
}
.split{
	position: absolute;
	top: 0;
	bottom:0;
	width:50%;
	&.r{
		overflow: hidden;
		z-index:100;
		right:0;
		img{
			position: absolute;
			left: 0;
			top:0;
		}
	}
	&.l{
		z-index:200;
		left:0;
	}
}

.splash{
	width:80%;
	position:absolute;
	top:10%;
	bottom:0;
	overflow: auto;
	right:0;
}
.signup{
	margin-top:40px;
	margin-bottom:40px;
	@include inline-block();
	width:100%;
	input,.post{
		width:49%;
		display:block;
		float:left;
	}
	.post{
		@include transition(all 200ms ease);
		background-color: $body-font-color;
		border:1px solid $body-font-color;
		&:hover{
			background-color: lighten($body-font-color,30%);
		}
		a{
			margin:0;
			margin-left:auto;
			margin-right:auto;

			color: $body-bg;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-weight:400;
			
			
			display:block;
			height:$input-height;
			line-height: $input-height;

		}
	}
}

$social-size: em(26px);
.social{
	margin-top:20px;
	margin-bottom:40px;
	line-height: $social-size;
	span{
		display:block;
		float:left;
		margin-right:em(20px);
		text-transform: uppercase;
		letter-spacing:em(3px);
		font-size:em(13px);

	}
	li{
		
		font-size:$social-size;
		a,
		a:link,
		a:visited{
			@include transition(all 200ms ease);
			color: $body-font-color-light;
			&:hover{
				color: $body-font-color;
			}
		}
	}
}

@media #{$medium-down}{
	.signup{
		input{
			width:40%;
			text-indent: em(8px);
		}
		.post{
			width:58%;
		}
	}
}
@media #{$small-only}{
	p,
	h2,
	h1{
		color: $body-font-color;
	}
	h1{
		font-size:em(10px);
	}
	h2{
		font-size:em(14px);
	}
	.redun{
		@include position(absolute, 0);
	}
	
	.logo{
		width:100%;
	}
	.splash{
		left:10%;
		right:10%;
		bottom: inherit;
		position:absolute;
		overflow:auto;
		-webkit-overflow-scrolling:touch;
		overflow-x:none;
	}
	.signup{
		input,
		.post{
			width:100%;
		}
	}
	.social{
		li{
			font-size: ($social-size * 0.8);
			a, a:link, a:visited{
				color: $body-font-color;
				&:hover{
					color: $body-font-color-light;
				}
			}
		}
	}
	.profile{
		display:none;
		opacity: 0;
	}
	.split{
		&.l{
			right:0;
			width:auto;
		}
		&.r{
			left:0;
			width:auto;
			position: fixed;
			img{
				opacity: 0.35;
			}
		}
	}
}