.redun{
	//@include position(fixed, 0);
}
$margin-scale: 0.8;
.logo{
	width: 300px;
	max-width:100%;
	margin-top: $margin-scale*135px;
	margin-bottom:$margin-scale*25px;
}
.split{
	position: absolute;
	top: 0;
	bottom:0;
	width:50%;

	&.r{
		overflow: hidden;
		z-index:100;
		right:0;
		position:fixed;
		img{
			position: absolute;
			left: 0;
			top:0;
		}
	}
	&.l{
		z-index:200;
		left:0;
	}
}

.splash{
	width:80%;
	position:relative;
	float:right;

}
.registered{
	position: relative;
	
	display: block;

	h1{
		position: absolute;
		top:0;
		line-height:$input-height;
		background-color: #FFF;
		color: $body-font-color;
		padding:4px 30px;
		left:0;
		
		opacity:0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		@include transition (all 250ms ease-out);
		@include perspective(500px);
		@include transform-style(preserve-3d);
		@include transform(translate3d(-20px, 0px, 0px));
	}
	
	&.done{
		h1{
			//box-shadow: rgba(0,0,0,0.25) 0 0 20px;
			opacity: 1;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			@include transform(translate3d(0px, 0px, 0px));
		}
		
	}
}
.signup{
	@include transition (all 250ms ease-out);
	&.hide{
		opacity: 0;
		z-index:-1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	&.submitting{
		.button{
			background-color: $body-font-color-light;
		}
	}
	position: relative;
	font-size:em(14px);
	margin-top:$margin-scale*10px;
	margin-bottom:$margin-scale*10px;
	@include inline-block();
	width:100%;
	input,.post{
		width:49%;
		display:block;
		float:left;
	}
	#email{

	}
	#ghost{
		position: absolute;
		left:-5000px;
	}
	.tip{
		position: absolute;
		top:0;
		line-height:$input-height;
		width:200px;
		left:0;
		background-color: $body-font-color;
		&.error{
			background-color: $alert-color;
		}
		color: $body-bg !important;
		text-align:center;
		opacity:0;
		z-index:-1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		@include transition (all 250ms ease-out);
		@include perspective(500px);
		@include transform-style(preserve-3d);
		@include transform(rotateX(-20deg) translate3d(0px, 0px,-10px) scale3d(1,1,1));
		&.show{
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			opacity: 1;
			z-index:100;
			top: -0.25*$input-height;
			@include transform(rotateX(20deg) translate3d(0px, 0px, 10px) scale3d(1.1, 1.1, 1.1));
		}
	}
	.post{
		@include transition(all 200ms ease);
		background-color: $body-font-color;
		border:1px solid $body-font-color;
		&:hover{
			background-color: lighten($body-font-color,30%);
		}
		a{
			margin:0;
			margin-left:auto;
			margin-right:auto;

			color: $body-bg;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-weight:400;
			letter-spacing: $default-letter-spacing;
			
			display:block;
			height:$input-height;
			line-height: $input-height;

		}
	}
}

$social-size: em(26px);
.social{
	margin-top:$margin-scale*10px;
	line-height: $social-size;
	span{
		display:block;
		float:left;
		margin-right:em(20px);
		text-transform: uppercase;
		letter-spacing:em(3px);
		font-size:em(13px);

	}
	li{
		
		font-size:$social-size;
		a,
		a:link,
		a:visited{
			@include transition(all 200ms ease);
			color: $body-font-color-light;
			&:hover{
				color: $body-font-color;
			}
		}
	}
}
.profile{
	margin-top:$margin-scale*55px;
}

@media #{$medium-down}{
	.splash{
		margin-top:20%;
	}
	.signup{
		input{
			width:40%;
			text-indent: em(8px);
		}
		.post{
			font-size: em(14px);
			width:58%;
		}
	}
}
@media #{$small-only}{
	p,
	h2,
	h1{
		color: $body-font-color;
	}
	h1{
		font-size:em(10px);
	}
	h2{
		font-size:em(14px);
	}
	.redun{
		@include position(absolute, 0);
	}
	
	.logo{
		width:100%;
	}
	.splash{
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-top:5%;
		width:80%;
	}
	.signup{
		input,
		.post{
			width:100%;
		}
		input{
			border-bottom:none;
		}
	}
	.social{
		li{
			font-size: ($social-size * 0.8);
			a, a:link, a:visited{
				color: $body-font-color;
				&:hover{
					color: $body-font-color-light;
				}
			}
		}
	}
	.profile{
		display:none;
		opacity: 0;
	}
	.split{
		&.l{
			right:0;
			width:auto;
		}
		&.r{
			left:0;
			width:auto;
			position: fixed;
			img{
				opacity: 0.35;
			}
		}
	}
}