<div class="footer">
	<div class="big-footer">
		<div class="row">
			<div class="columns large-6 large-centered">
				<ul class="inline-list">
					<li><a href="#" class='social-fb'></a></li>
					<li><a href="#" class='social-twitter'></a></li>
					<li><a href="#" class='social-insta'></a></li>
					<li><a href="#" class='social-vimeo'></a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<div class="big short">
		<div class="big-copy black white">
			<div class="row">
				<div class="columns large-6">
					<h6>Designed By Object-Matter</h6>
					Facebook Share
				</div>
				<div class="columns large-6">
					<ul class="inline-list">
						<li><a href="about.html">About</a></li>
						<li><a href="press.html">Press</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Policy</a></li>
						<li><a href="#">Terms</a></li>
					</ul>
					All rights reserved. &copy; Five Four
				</div>
			</div>
		</div>
	</div>
</div>

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/boot.min.js"></script>
<script src="assets/js/front.min.js"></script>
<script>
	$(document).foundation();
	App.init();
</script>
	
	</body>
</html>