<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">

<title>Five Four Clothing</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/png" href="assets/img/icons/logo.png">
<link rel="apple-touch-icon-precomposed" href="assets/img/icons/logo@2x.png" />
<link rel="author" href="humans.txt" />
<link rel="robots" href="robots.txt" />

<link rel="stylesheet" href="assets/css/app.css">

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
<![endif]-->

<script type="text/javascript" src="//use.typekit.net/krc1yjy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>