<div class="redun">
	<div class="split l">
		<div class="splash">
			<img class='logo' src="assets/img/redun-logo.png" alt="RE / DUN">
			<h1>Discover Your Individuality</h1>
			<h2>Iconic. Sustainable. Individual.</h2>
			<hr>
			<p>
				Sign up for a chance to claim your unique jean mid-July. 
				Each pair is reconstructed into today's modern fits &mdash; 50 pairs
				at launch, limited quantities. First come, first served.
			</p>
			<div class="signup">
				<input type="text" placeholder="Your Email">
				<div class="post">
					<a href="#">
						Get Early Access
					</a>
				</div>
			</div>
			<div class="social">
				<span>Share</span>
				<ul class='inline'>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
				</ul>
			</div>
			<div class="profile">
				<h1>Individual N&ordm;: 001</h1>
				<h3>Bella - RE/JUVENATE</h3>
				<p>Student, model, photographer</p>
			</div>
		</div>
		
	</div>
	<div class="split r">
		<img class='model' src="assets/img/models/1.jpg" alt="Bella - RE/JUVENATE">
	</div>
</div>